# Flutter
qaida_front/.dart_tool/
qaida_front/.flutter-plugins
qaida_front/.flutter-plugins-dependencies
qaida_front/.packages
qaida_front/build/

# Android / IntelliJ
qaida_front/android/.gradle/
qaida_front/android/app/debug
qaida_front/android/app/profile
qaida_front/android/app/release
qaida_front/.idea/
qaida_front/*.iml

# Node / Nest
qaida-back/node_modules/
qaida-back/dist/
qaida-back/.pnpm-store/

# Python
qaida-back/node_modules/
qaida-back/dist/
qaida-back/.pnpm-store/
qaida-back/knn-service/venv/
qaida-back/knn-service/__pycache__/
qaida-back/knn-service/Model/__pycache__/
qaida-back/cosine-service/venv/
qaida-back/cosine-service/__pycache__/
qaida-back/cosine-service/Model/__pycache__/

# Env
qaida-back/src/core/.env

# OS
.DS_Store
Thumbs.db